@using Microsoft.EntityFrameworkCore
@using ServerCore.DataModel

@if (Event != null)
{
    <InputSelect @bind-Value="SelectedPlayerClassID" @bind-Value:after="UpdatePlayerClassID">

        @if (AvailablePlayerClasses != null)
        {
            @if (CurrentTeamMemberDisplayPlayerClass != null)
            {
                @if(CurrentTeamMemberDisplayPlayerClass.ClassId == 123456789)
                {
                    <option value="123456789">No @Event.PlayerClassName set</option>
                }
                else
                {
                    <option value="@CurrentTeamMemberDisplayPlayerClass.ClassId">@CurrentTeamMemberDisplayPlayerClass.Name</option>
                    <option value="123456789">No @Event.PlayerClassName set</option>
                }
            }

            @foreach (var pc in AvailablePlayerClasses)
            {
                <option value="@pc.ID">@pc.Name</option>
            }
        }
    </InputSelect>
}